<link rel="stylesheet" href="/css/navbar.css">

<nav class="navbar">
    <a class="a" href="/">Blog Crud</a>
    <% categories.forEach(category => { %>
        <a href="/category/<%= category.slug %>"><%= category.title %></a>    
    <% }) %>
</nav>