<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Blog Crud</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <h1>Meu blog</h1>
</body>
</html>