<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Crud</title>
    <link rel="stylesheet" href="/css/newCategory.css">
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
    <%- include("../../partials/navbar.ejs") %>
    <div class="container">
        <div class="card">
            <div class="card-title">
                <h2>Cadastro de usuarios</h2>
            </div>
            <div class="card-body">
                <form action="/users/create" method="POST">
                    <input type="text" name="email" placeholder="email@example.com">
                    <input type="password" name="password" placeholder="******">
                    <button>Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>